* {
  box-sizing: border-box;
}

html {
  font-size: var(--fs-root);
  font-family: Charter, Georgia, serif;
  color: var(--c-text-primary);
}

body {
  margin: 0;
}

a {
  color: var(--c-text-primary);
}
